.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/* You can add global styles to this file, and also import other style files */

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body{
    width: 90vw;
}